<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TTS for Listening</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <style>
    body {
      margin-top: 50px;
    }

    .text {
      text-align: center;
    }

    .text__display {
      font-size: 40px;
    }

    .texts {
      font-family: monospace;
    }

    .show {
      opacity: 1;
    }

    .noshow {
      opacity: 0;
    }

    .library-item {
      margin-right: 1em;
    }
  </style>
</head>

<body>
  <div id="app">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
            aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./">TTS for Listening</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#about">Instructions</a></li>
            <li><a href="#settings">Settings</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="text">
        <h3 class="text__title">{{ currentTextId }}</h3>
        <div class="jumbotron">
          <div class="text__display">
            <span v-bind:class="{show: show, noshow: !show}">{{ text }}&nbsp;</span>
          </div>
          <p class="text__control">
            <button class="btn btn-primary speech-btn" v-on:click="speech">Repeat</button>
            <button class="btn btn-warning ko-btn" v-on:click="ko">Pass</button>
            <button class="btn btn-info speech-btn" v-on:click="show=true;">Show</button>
            <button class="btn btn-success ok-btn" v-on:click="ok">OK</button>
          </p>
        </div>
      </div>

      <div id="about">
        <h2>Instructions</h2>
        <p>
          Simple Text To Speech for listening.
        </p>
        <ul>
          <li>
            Listen and figure out what he is saying.
          </li>
          <li>
            <strong>Repeat</strong>: Repeat again.
          </li>
          <li>
            <strong>Pass</strong>: Next.
          </li>
          <li>
            <strong>Show</strong>: Show the text.
          </li>
          <li>
            <strong>OK</strong>: No repeat again and next.
          </li>
          <li>
            You can load text picking an item of library. <br>
            Also you can paste a new text in textarea and add a new item to library.
          </li>
        </ul>
      </div>

      <div id="settings">
        <h2>Settings</h2>

        <h3>Text</h3>

        <h4>Library</h4>
        <p>
        <div is="library-item" v-for="item in library" v-bind:id="item.id" v-on:load="loadText(item.id)"
          v-on:remove="removeFromLibrary(item.id)"></div>
        </p>

        <p>
          <textarea v-model="textsString" class="form-control texts" rows="10" wrap="soft"
            placeholder="Text to listen. One line for sentence."></textarea>
        </p>

        <div class="input-group">
          <input type="text" class="form-control" id="libraryItemId" placeholder="id of item for library">
          <div class="input-group-btn">
            <button class="btn btn-primary" v-on:click="addToLibrary">Add to library</button>
          </div>
        </div>

      </div>

    </div>

  </div><!-- #app -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <script>

    Vue.component('library-item', {
      template: '\
        <div class="btn-group library-item">\
          <button class="btn btn-default btn-xs active" v-on:click="$emit(\'load\')">{{ id }}</button>\
          <button class="btn btn-danger btn-xs" v-on:click="$emit(\'remove\')">X</button>\
        </div>\
      ',
      props: ['id']
    });

    var app = new Vue({
      el: '#app',
      data: {
        show: false,
        text: '',
        textsString: '',
        i: 0,
        library: [],
        currentTextId: '',
        showInstructions: false,
        showSettings: false,
      },
      methods: {
        init: function (textsString) {
          var texts = this.getTextsFromString(this.textsString);
          this.text = texts[this.i];
          this.speechText(this.text);
        },
        getTextsFromString: function (s) {
          return s.split("\n");
        },
        speechText: function (text) {
          this.text = text;
          var speech = new SpeechSynthesisUtterance(text);
          speech.lang = 'en-US';
          window.speechSynthesis.speak(speech);
        },
        speech: function () {
          var texts = this.getTextsFromString(this.textsString);
          var text = texts[this.i];
          this.speechText(text);
        },
        ok: function () {
          var texts = this.getTextsFromString(this.textsString);
          texts.splice(this.i, 1);
          this.textsString = texts.join("\n");
          if (texts.length === 0) {
            this.show = true;
            this.speechText('Congratulations');
            return;
          }
          if (this.i == texts.length) {
            this.i = 0;
          }
          this.text = texts[this.i];
          this.show = false;
          this.speechText(this.text);
        },
        ko: function () {
          var texts = this.getTextsFromString(this.textsString);
          this.i = this.i + 1;
          if (this.i == texts.length) {
            this.i = 0;
          }
          this.text = texts[this.i];
          this.show = false;
          this.speechText(this.text);
        },
        loadText: function (id) {
          if (id === undefined) {
            id = this.library[0].id;
          }
          var match = this.library.filter(function (item) {
            return item.id === id
          });
          if (match) {
            this.textsString = match[0].textsString;
            this.currentTextId = id;
          }
        },
        addToLibrary: function (e) {
          var id = document.getElementById('libraryItemId').value;
          var item = {
            id: id,
            textsString: this.textsString
          };
          this.library.push(item);
          console.log(this.library);
        },
        removeFromLibrary: function (id) {
          for (var i = 0; i < this.library.length; i++) {
            var item = this.library[i];
            if (item.id === id) {
              this.library.splice(i, 1);
              return;
            }
          }
        }
      }
    });

    app.library = [
      {
        id: 'helloworld',
        textsString: "Hello World!\nApple\nBanana\nCandy\nDonuts"
      },
      {
        id: 'tellme',
        textsString: "Tell me and I forget,\nteach me and I may remember,\ninvolve me and I learn"
      }
    ];
    app.loadText();
    app.init();

  </script>
</body>

</html>